In [5]:
from data_collection.functions.data import get_data

btc = get_data("BTCUSDT", "1d", save=False)
btc

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'datetime.datetime'>
Downloading all available 1d data for BTCUSDT..
      timestamp            open            high             low
0    2017-08-17   4261.48000000   4485.39000000   4200.74000000  \
1    2017-08-18   4285.08000000   4371.52000000   3938.77000000
2    2017-08-19   4108.37000000   4184.69000000   3850.00000000
3    2017-08-20   4120.98000000   4211.08000000   4032.62000000
4    2017-08-21   4069.13000000   4119.62000000   3911.79000000
...         ...             ...             ...             ...
2093 2023-05-11  27598.74000000  27630.14000000  26702.05000000
2094 2023-05-12  26968.61000000  27091.12000000  25811.46000000
2095 2023-05-13  26795.01000000  27045.45000000  26692.03000000
2096 2023-05-14  26775.27000000  27200.00000000  26560.53000000
2097 2023-05-15  26917.61000000  27663.59000000  26726.00000000

               close          volume     close_time             quote_av
0      4285.08000000    795.15037700  1503014399999     3454770.05073206  \
1      4108.37000000   1199.88826400  1503100799999     5086958.30617151
2      4139.98000000    381.30976300  1503187199999     1549483.73542151
3      4086.29000000    467.08302200  1503273599999     1930364.39032646
4      4016.00000000    691.74306000  1503359999999     2797231.71402728
...              ...             ...            ...                  ...
2093  26968.62000000  47635.31365000  1683849599999  1295799109.01100400
2094  26795.01000000  67207.93494000  1683935999999  1777052127.73109300
2095  26775.28000000  22814.90421000  1684022399999   612062852.08668820
2096  26917.62000000  21594.80360000  1684108799999   580801698.00026930
2097  27390.89000000  36975.44941000  1684195199999  1010351313.13875240

       trades      tb_base_av         tb_quote_av ignore
0        3427    616.24854100    2678216.40060401      0
1        5233    972.86871000    4129123.31651808      0
2        2153    274.33604200    1118001.87008735      0
3        2321    376.79594700    1557401.33373730      0
4        3972    557.35610700    2255662.55315837      0
...       ...             ...                 ...    ...
2093  1257000  23270.11723000  632925807.49257740      0
2094  1351633  33147.27251000  876487224.25504230      0
2095   605049  10959.29947000  294038915.03262630      0
2096   629537  10672.14983000  287060095.33152760      0
2097   843068  17680.16190000  482982481.19929140      0

[2098 rows x 12 columns]
Historical price data is downloaded!

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore,market_cap
timestamp,,,,,,,,,,,,
2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,1503014399999,3.454770e+06,3427,616.248541,2.678216e+06,0.0,7.152795e+10
2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,1503100799999,5.086958e+06,5233,972.868710,4.129123e+06,0.0,6.871087e+10
2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,1503187199999,1.549484e+06,2153,274.336042,1.118002e+06,0.0,6.926514e+10
2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,1503273599999,1.930364e+06,2321,376.795947,1.557401e+06,0.0,6.752048e+10
2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,1503359999999,2.797232e+06,3972,557.356107,2.255663e+06,0.0,6.610699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-11,27598.74,27630.14,26702.05,26968.62,47635.313650,1683849599999,1.295799e+09,1257000,23270.117230,6.329258e+08,0.0,5.230230e+11
2023-05-12,26968.61,27091.12,25811.46,26795.01,67207.934940,1683935999999,1.777052e+09,1351633,33147.272510,8.764872e+08,0.0,5.192540e+11
2023-05-13,26795.01,27045.45,26692.03,26775.28,22814.904210,1684022399999,6.120629e+08,605049,10959.299470,2.940389e+08,0.0,5.188737e+11
2023-05-14,26775.27,27200.00,26560.53,26917.62,21594.803600,1684108799999,5.808017e+08,629537,10672.149830,2.870601e+08,0.0,5.217422e+11
2023-05-15,26917.61,27663.59,26726.00,27390.89,36975.449410,1684195199999,1.010351e+09,843068,17680.161900,4.829825e+08,0.0,NaN

In [14]:
import math
(len(btc)-math.ceil((len(btc)-14)*.8))/2

215.0

In [ ]:
# print("\n\nBitcoin dataframe info:\n")
btc.info()

In [ ]:
btc.describe()

In [ ]:
from data_collection.functions.data import visualize_data

visualize_data(btc)